@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
font-size: 14px;

}

html{
scroll-behavior: smooth;
scroll-padding-top: 30px;
scroll-padding-bottom:30px ;

transition-duration: 3s smooth;
}

body{
width: 100%;
background:linear-gradient();
position: relative;
scroll-padding-top: 100px;
}
