/*-----PAGINA 1-----*/

.sidebar .logo--container{
vertical-align: bottom;
}

.sidebar .logo--container .logo--img{
    display:inline;
    margin-left: 10px;
    opacity: 1;
    transition: all 0.5s ease;
    
} .ação-menu .logo--container .logo--img{
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s ease;
}

.sidebar .logo--container .logo--name{
    display:inline-flex;
    font-weight: 400;
    line-height: 15px;
    vertical-align: bottom;
    position: absolute;
    top: 30px;
    pointer-events: none;
    opacity: 1;
    transition: all 0.5s ease;
    
}.ação-menu .logo--container .logo--name{
    opacity: 0;
    pointer-events: auto;
    transition: all 0.2s ease;
}

.navegação--menu{
    margin: 35px 10px;
}

.sidebar .btn{
    position: absolute;
    left: 90%;
    top:6px;
    font-size: 35px;
    height: 50px;
    width: 50px;
    text-align: center;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}
.ação-menu .btn{
 left: 50%;
 transform: translateX(-50%);
 transition: all 0.2s ease;
}

.sidebar .menu--container{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 5px 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar .menu--secao{
    display:inline-flex;
    text-align: center;
    margin-left: 15px;
    text-decoration: none;
    position: absolute;
    pointer-events: none;
    opacity: 1;
    transition: all 0.5s ease;
}
 .ação-menu .menu--secao {
    transition: all 0.2s ease;
    pointer-events: auto;
    opacity: 0;

}
.sidebar .menu--item{
    border-radius: 12px;
    line-height: 50px;
    margin-left: 0;
border-radius: 12px;
}

.sidebar .menu--item:hover{
    background-color: #c0c0c0;
    
}

.social--logo{
    left: 0;
    margin: 5px 2px;
}


/*--------------------*\
    Conteudo da pagina
\*--------------------*/
.banner--principal{
    width:90%;
    margin: 15px;
}

.conteudo--principal{
    margin:0;
    padding:20px;
    font-size: 0,14em;
}

.titulo--principal{
    text-align: center;
    padding:20px;
    margin: 10px 15%;
    font-size: 2.09rem;
    font-weight: bolder;
}

.conteudo--principal > p{
    font-size: 1.785rem;
    padding:0 15px ;
}

.titulo--mapa{
    text-align: center;
    font-size: 2.09rem;
    font-weight: bolder;

    padding:20px;
    
}

.mapa--conteudo{
    margin:0 20%;
}

.logo--loja--rod{
    width: 10%;
    padding:15px ;
};

/*-----PAGINA 2-----*/

.produtos-pagina1 h5{
    margin: 30px 20px;
    text-align: center
}

.produtos-pagina1{
    width: 100%;
}

.produtos-pagina1 li{
    width: 20%;
    display:inline-block;
    margin:20px 15px;
}

.botao-esti{
    background-color: #0fefe0;
    border-radius:4px;
    cursor: pointer;
    font-size:15px;
    border:4px;
    padding: 10px 15px;
    font-weight:bold;
    text-align: center;
    margin: 30px;
}

.botao-esti:hover{
    background-color:aquamarine;
    padding: 1rem;
    font-size: 20px;
    width: auto;
}

/*-------PRODUTOS PAGINA 2--------*/

.produtos-pagina2{
    width:940px;
    margin: 0 auto;
}
.imgprog{
    width: 50%;
    float: left;
    top: 0;
    
}
.requisitos{
    width:30%;
    margin:10px 5px;
    padding: 15px 5px;
    display: inline-block;
}

.ficha {
    font-size:11px;
    font-weight: bolder;
    width: 40%;
    text-align: top; 
    display: none;
    padding: 10px 5px;
    border: solid 2px #000;
}
.lista{
    display: inline-block;
    font-size:10px;
    font-weight: bolder;
    width: 40%;
    padding: 20px 10px;
}
#boton-1{
    padding: 10px;
    position:absolute;
    
}

