/*----------------------*\
       Sessao-1
\*----------------------*/
a{  
position: relative;
text-decoration: none;
top: 0;
}

.navegação--menu{
padding:1rem 0.5rem;
height: 100vh;
}
/*-------------------------*\
    Conteiner navegação
\*-------------------------*/

.container--nav{
position:relative ;

height:50px;
overflow: hidden;
border-radius: 7px;
margin: 10px 5px;


background-color: #fff ;
vertical-align: baseline;
}



.container--nav .logo--img{
position: absolute;
left: 1.5em;
display: inline-block;
}

.container--nav .logo--name{
position: absolute;
display: inline-block;
font-size: 1.5rem;
font-weight:bolder;
pointer-events: none;
opacity: 1;
left: 4em;
top: 20%;
transition: all ease 0.3s;
}

.ação-menu .container--nav .logo--name{
opacity: 0;
transition: all ease 0.3s;
}


/*-------------------------*\

/*-------------------------*\
    Menu Hanburguer 
\*-------------------------*/

.button-prop{
position: absolute;
top:35px;
left:255px; 
width: 25px;
height: 24px; 
overflow: hidden;
transition: all 0.5s ease
}



.menu-btn{ 
position: absolute; 
display: flex;
width: 25px;
height: 23px; 
align-items: center;
justify-content: center;
cursor: pointer;
}

.menu-btn .line{
position: absolute;
width: 100%;
height: 0.2rem;
align-items: center;
justify-content: center;
cursor: pointer;
border-radius: 5px;
background-color: #000;
transition: all 0.5s linear;
}

.menu-btn .btn-active .line {
transition: all 0.5s linear;
}

.list-1{
top:2px;
}
.list-2{
left:0;
opacity: 1;
}

.list-3{
bottom: 2px;
}



.btn-active .list-1{
top: 10px;
transform: translateY(50%) rotate(-45deg);
}

.btn-active .list-2{
left:-100%;
opacity: 0;
}

.btn-active .list-3{
bottom:10px;
transform: translateY(50%) rotate(45deg);
} 

.ação-menu .button-prop{
left:130px; 
transition: all 0.5s ease;
}

/*-------------------------*/

/*-------------------------*\
    Campo de busca
\*-------------------------*/

.buscar{
z-index: 0;
}
.pesquisa{ 
display: flex;
}

.busca-input{
width: 90%;
padding: 0.1.5em ;
}

.busca-input:focus{
border: 1px solid rgb(252, 14, 2 ) ;
}
.busca-btn{
position: absolute;
display: flex;
z-index: 99;
font-size: 1.8em;

top: 2px;
left: 5.8em;
padding: 0.5em;
border-radius: .5rem;

color: #000;
background-color:rgb(252, 14, 2) ;

transition: all .5s ease;
}
.active .busca-btn{
color: #fff;
}

.ação-menu .busca-btn{
left: 0.7em;
transition: all 0.5s ease;
}
.ação-menu .busca-input{
width: 20%;
margin-left: 1em;
text-decoration: none;
transition: all 0.5s ease;
}



/*-------------------------/*
 

/*-------------------------*\
    Items de Navegação
\*-------------------------*/
.nav--menu{
position: relative;
display: block;
border-radius: 10px;
list-style: none;
margin:1em 0.5em;
padding: 0;
background-color:#fff;
}

.menu--item{
display: inline-flex;
color: #fff;  
font-size: 1.2rem;
align-items: baseline;
}  



#pesq .container-log{
    background:none;
    border: none;
    box-shadow: none;
}

.container-log{
display: flex;
margin: 1.5em 1em;
padding:1em;
border-radius: .5rem;
overflow: hidden;

}

.menu--container{
left: 3em;
vertical-align: bottom;
}
.menu--secao{
color: #000;
margin: 0 1.7rem; 
padding: 0.5rem 0  0  0;
opacity: 1;
bottom: 0;
transition: all .3s ease;
}

.active .menu--secao {
color: #fff;
font-weight: 800;
}

.ação-menu .active .container-log, 
.active .container-log { 
z-index: 0;
background-color: rgb(252, 14, 2 );
border: 1px solid rgb(252, 14, 2 ) ;
box-shadow: 3px 3px 3px rgb(252, 15, 3 );
}

.ação-menu .menu--secao{
opacity: 1;
transition: all 1s ease;
}

/*-------------------------*/

/*-------------------------*\
    Icons navegação
\*-------------------------*/

i{
font-size: 2rem;
color: #000;
left: 20px;
z-index: 99;
display: flex;
}


 
.ação-menu 
.menu--item i{
color: #000;
}

.active i,.ação-menu 
.active .container-log  i {
color: #fff;  
}

/*-------------------------*\

/*----------------------*\
     Seta Tooltip
\*----------------------*/

.tooltip-body::before{
position: absolute;
content:"";
left: 0;
align-items: center;
border:7px solid rgba(0, 0, 0,0.9);
transform:translateX(-100%) rotate(-90deg);
border-color:  transparent  transparent 
rgba(0, 0, 0, 0.9) transparent;
}

/*---------------------------*/

/*----------------------*\
    Balão Tooltip
\*----------------------*/

.tooltip-body{
position: absolute;
width: 75px;
padding: 11px 0;
font-size: 10px;
text-align: center;
font-weight: bold;
color: #fff;
left: 2em;
top: 1.5em;

background-color:rgba(0, 0, 0, 0.9);
border-radius: 5px;
}

 .pesquisar .tooltip-body,
.container-log .tooltip-body {
opacity: 0;
} 

/*----------------------*/

/*----------------------*\
Conteudo da pagina
\*----------------------*/

.conteudo--principal{
margin: 40px;
padding: 30px;

}

.conteudo--pagina{
margin:0 5em;
font-size: 1rem;
}

.titulo--principal{
text-align: center;
padding:20px;
font-size: 2.09rem;
font-weight: bolder;
}

.sobre-img{

float: right;
margin: 5px;
border-radius: 5px;
}

.conteudo--pagina > p{
font-size: 1.585rem;
padding:0 20px ;
}

.conteiner--slider{
display: flex;
flex-direction: column;
align-items: center;
}

.slider-type{
position: relative;
width: 35vw;
height: 45vh;
margin-top: 85px;
background-color: azure;
overflow: hidden;

}
.slider--controls{
position: absolute;
z-index: 1;
display:inline-flex;
justify-content: space-between;
align-items: center;
}

.slider-btn{
font-size: 55px;
font-weight: 800;
}

.slider__control {
position: relative;
font-size: 4em;
color: #fff;
cursor: pointer;
height: 100%;
display: inline-flex;
transition: all ease 3s ;
z-index: 1;
}

/* .slider__control:hover{
    background-image: linear-gradient(to right, #000,transparent);
} */
.slider__control i {
color: #fff;
display: flex;
margin: 80% 10px;
padding: 80% 0;

}


.slider_width{
display: flex;
height: 100%;
transition: all ease 0.5s;
}

.slider--item{
width: 100vh;
height:inherit;
background-size:cover;
background-position: center;
}

.produtos--container{
margin: 40px ;
padding: 30px;

}

.produtos--container h1{
font-size: 2em;
font-weight: bolder;
text-align: center;
}

.conteudo--produtos{
width: 100%;
display: inline-block;
}

.produtos--items{
display:inline-flex;

margin: 0 8em;
}

.produto--item{
position: relative;
margin:20px;
padding: 25px 30px;
width: 30%;
height: 22em;
list-style: none;
padding: 10px;
border: #000 solid 1px;
box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
background-color:#DCDCDC;
border-radius: 8px;
text-align: center;
font-size: 1.2rem;
}

.produto--item h2{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2em;
text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.produto--item img{
width: 10em;
height:100%;
}

.produto--item button{
position: relative;
font-size: 1.4rem;
padding: 10px 15px;

background-color:#fff;
border-radius: 10px;
box-shadow: 3px 4px 3px rgba(0, 0, 0,0.5);
border: 2px solid #fff;
}
.produto--item button:hover {
font-size: 1.7rem;
font-weight: 500;
padding: 0.5em;
}
.table-services {
padding:20px ;
}

.table-services h2{
text-align: center;
}

.mapa--conteudo{
margin: 40px ;
padding: 30px;
text-align: center;

}

.titulo--mapa{
width: 100%;
padding: 20px 10px;
font-size: 1.6em;
font-weight: bolder;
}
.logo--loja--rod{
width: 100%;

};