@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
:root{

--fontPrimary:'Baloo Da 2', sans-serif;
--fontSecundary:'Josefin Sans', sans-serif;
--fontTerceiry:'Franklin Gothic Medium',sans-serif;

}

/*----------------------*\
        Sessao-1
\*----------------------*/
a{  
position: relative;
text-decoration: none;
top: 0;
}

.navegação--menu{
width: 100%;
display: flex;
justify-content:space-around;
align-items: center;
margin: 20px 0;

}
/*-------------------------*\
    Conteiner navegação
\*-------------------------*/

.container--nav{
width: 30%;
position:relative;
display: inline-flex;
align-items:center;
padding: 5px;
}

.container--nav .logo--img{
display: flex;
object-fit: cover;
margin: 0 5px;
}

.container--nav .logo--name{
display:flex;
width: 100%;
height: 100%;
font-size: 1.4rem;
font-weight: bolder;
margin: 10px 0 0 0;
color: #000;
text-shadow: #000 1px 1px 1px;
text-transform: uppercase;
}

.styleSidebar .container--nav .logo--name{
    color: #fff;
}

@media screen and (max-width:992px) {

    .container--nav{
        width: 100%;
        position:relative;
        display: inline-flex;
        align-items:center;
        padding: 5px;
    }

    
    .navegação--menu::after{
        position: relative;
    }
}

/*-------------------------*\


/*-------------------------*\
Items de Navegação
\*-------------------------*/
.nav--menu{
position: relative;
display: inline-flex;
margin: 0 10px;
align-items: center;
}
.menu--item{
list-style: none;
color: #000;
}

.styleSidebar .menu--item{
color: #fff;
}  

.menu--secao{
position: relative;
margin:0 10px;
border:2px transparent;
border-radius: 10px;
font-weight: 800;
font-size: 1rem;
text-align: center;
vertical-align: bottom;
transition: color .5s ease-in-out;
}

.menu--secao::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    border-radius: 4px;
    background-color: rgb(252, 14, 2 );
    transition: all .2s ease-in-out;

}

.active .menu--secao {
color: rgb(252, 14, 2 );
}

.menu--secao:hover{
color: rgb(116, 114, 114);
}


.active .menu--secao::after{ 
    width: 100%;
    transition:  .2s ease-in-out;
}

.ação-menu .menu--secao{
opacity: 1;
transition: all 1s ease;
}

.login{
    width: 100px;
    margin: 10px;
    padding: 5px;
    font-family: var(--fontTerceiry);
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgb(252, 14, 2 );
    transition: all .5s ease-in-out;
}
.login:hover{
    background-color: rgb(199, 11, 1);
    color: rgb(216, 213, 213);
    transition: all .5s ease-in-out;
}

@media screen and (max-width:992px) {
    .nav--menu{
        position: absolute;
        top: 90px;
        left: 0;
        display: flex;
        line-height: 50px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin: 0;
        color: #000;
        z-index: 100;
        overflow-y: scroll;
        padding:15% 20%;
        border: 3px solid #000;
        background-color: rgb(46, 46, 46);
        transition: all 0.9s ease-in-out;
    }
    .menu--item{
        list-style: none;
        color: #000;
        }  

       .styleSidebar .logo--name,.styleSidebar .container--nav .logo--name{
        color: #000;
        }
       
        .login{
        width: 100px;
        margin: 0 30px;
        padding: 5px;
        color: #fff;
        font-family: var(--fontTerceiry);
        font-weight: bolder;
        font-size: 1rem;
        border: none;
        text-transform: uppercase;
        border-radius: 5px;
        background-color: rgb(252, 14, 2 );
        transition: all .5s ease-in-out;
        }

        .menu--secao{
        position: relative;
        margin:0 10px;
        border:2px transparent;
        border-radius: 10px;
        font-weight: 800;
        font-size: 1.3rem;
        text-align: center;
        vertical-align: bottom;
        }
    

    .active .menu--secao {
        color: rgb(252, 14, 2 );
        }

     /*-------------------------*\
        Menu Hanburguer 
    \*-------------------------*/
    
    .button-prop{
        position: absolute;
        top:25px;
        right:25px; 
        width: 45px;
        height: 43px; 
        overflow: hidden;
        transition: all 0.5s ease;
        }
        
        
        
        .menu-btn{ 
        position: absolute; 
        display: flex;
        width: 55px;
        height: 40px; 
        align-items: center;
        justify-content: center;
        cursor: pointer;
        }
        
        .menu-btn .line{
        position: absolute;
        width: 40px;
        left: 0;
        height: 0.3rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        background-color: #000;
        box-shadow: .3rem .2rem .2rem rgba(0, 0, 0, 0.5);
        transition: all 0.5s linear;
        }
        
        .menu-btn .btn-active .line {
        transition: all 0.9s linear;
        }
        
        .list-1{
        top:1px;
        }
        .list-2{
        left:0;
        opacity: 1;
        }
        
        .list-3{
        bottom: 1px;
        }
        
        
        
        .btn-active .list-1{
        top: 17px;
        transform: translateY(50%) rotate(-45deg);
        }
        
        .btn-active .list-2{
        left:-100%;
        opacity: 0;
        }
        
        .btn-active .list-3{
        bottom:19px;
        transform: translateY(50%) rotate(45deg);
        } 
        
         .mobile-btn{
        left: -100%;
        transition: all 0.5s ease-in;
        }
        
        /*-------------------------*/

  
    .menu--secao{
    position: relative;
    margin:0;
    border:2px transparent;
    border-radius: 10px;
    font-weight: 800;
    line-height: 70px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    
    }
    .active .menu--secao::after,.menu--secao::after{
    display: none;
        
    }
    
    .login{
    width: 100px;
    margin: 80px 0;
    padding: 5px;
    font-family: var(--fontTerceiry);
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgb(252, 14, 2 );
    transition: all .5s ease-in-out;
    }

}

/*-------------------------*/

/*----------------------*\
    Conteudo da pagina
\*----------------------*/
.container-pricipal{
position: relative;
}

.conteiner--slider{
position: relative;
width: 100%;
height:100vh;
background-color: #000;

}



.slider--item:nth-child(1){
background-image: url(../imagens/itens/img-service1.jpg);
object-fit: cover;
opacity: .8;
}
.slider--item:nth-child(2){
background-image: url(../imagens/itens/img-service2.jpg); 
object-fit: cover;

}
.slider--item:nth-child(3){
background-image: url(../imagens/itens/img-service3.jpg);
object-fit: cover;

}

.slider--item{
    position: absolute;
    width: 100%;
    height:100%;
    opacity: 0;
    background-size:cover;
    background-color: #000;
    transition: opacity 5s linear;
}

.conteudo--pagina{
position: absolute;
top: 70em;
right: 50em;
font-size: .2em;
color: #fff;
}

.titulo--principal{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding:20px;
font-size: 4.09rem;
text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
font-weight: bold;
text-transform: uppercase;
}


.conteudo--pagina > p{
    font-size: 1.585rem;
    padding:0 20px;
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
}

.conteiner--slider{
display: flex;
flex-direction: column;
align-items: center;
}
@media screen and (max-width:992px) {
   
    .conteudo--pagina{
        position: absolute;
        color: #fff;
        top: 30em;
        right: 8em;
        }
        
    .titulo--principal{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0;
        margin-top: 10px;
        font-size: 1.8rem;
        text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
        font-weight: bold;
        text-transform: uppercase;
        }
        


    .conteudo--principal{
        width: 100%;
        object-fit: cover;
    }


    .conteudo--pagina > p{
        font-size: 1.3rem;
        padding:0 25px  0 0 25px ;
        text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
    }


    .conteiner--slider{
        margin-top: 92px;
        position: relative;
        width: 100%;
        height:70vh;
        background-color: #000;
        }
        
        
        
        .slider--item:nth-child(1){
            background-image: url(../imagens/itens/img-service1.jpg);
            object-fit: cover;
            opacity: .8;
            }
            .slider--item:nth-child(2){
            background-image: url(../imagens/itens/img-service2.jpg); 
            object-fit: cover;
            
            }
            .slider--item:nth-child(3){
            background-image: url(../imagens/itens/img-service3.jpg);
            object-fit: cover;
            
            }
  
        .slider--item{
            position: absolute;
            width: 100%;
            height:100%;
            opacity: 0;
            background-size:cover;
            background-color: #000;
            transition: opacity 5s linear; 
        }
        
    }
    
   

    .titulo--principal{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:20px;
        font-size: 2rem;
        text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
        font-weight: bold;
        text-transform: uppercase;
        }

            @media screen and (max-width:480px){
                
                .conteudo--principal{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .conteudo--pagina{
                    position: absolute;
                    color: #fff;
                    top: 1em;
                    right: 5em;
                    }
                .titulo--principal{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                padding:0;
                margin-top: 80px;
                margin-left: 20px;
                font-size: 1.3rem;
                text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
                font-weight: bold;
                text-transform: uppercase;
                }
                    
                .conteudo--pagina > p{
                font-size: 1.2rem;
                padding:0 25px  0 0 25px ;
                text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
                }
                    
            
                .conteiner--slider{
                    margin-top: 94px;
                    position: relative;
                    width: 100%;
                    height:45vh;
                    background-color: #000;
                    }
                    
                    
                    
                    .slider--item:nth-child(1){
                        background-image: url(../imagens/itens/img-service1.jpg);
                        object-fit: cover;
                        opacity: .8;
                        }
                        .slider--item:nth-child(2){
                        background-image: url(../imagens/itens/img-service2.jpg); 
                        object-fit: cover;
                        
                        }
                        .slider--item:nth-child(3){
                        background-image: url(../imagens/itens/img-service3.jpg);
                        object-fit: cover;
                        
                        }
                    
                    .slider--item{
                        position: absolute;
                        width: 100%;
                        height:100%;
                        opacity: 0;
                        background-size:cover;
                        background-color: #000;
                        transition: opacity 5s linear;
                    }
                
            
            }

.produtos--container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;	
background: radial-gradient(rgba(0, 0 , 0, .55)40%, rgba(0, 0 , 0, .9));					
}
.produtos--container h1{
font-size: 2em;
text-align: center;
font-weight: bolder;
margin: 1em 0 0 0;
color: #fff;
text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.3);
}

.conteudo--produtos{
position: relative;
margin-top: 15px;
width: 1000px;
height: 80vh;
overflow: hidden;
}

.produtos--items{
position: absolute;
top:0;
left:0;
display:grid;
grid-template-columns:repeat(6,280px);
grid-gap: 50px;
}



.produto--item{
width:18em;
height: 25em;
padding: 40px 35px;
list-style: none;
border: #000 solid 1px;
box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.7);
background-color:rgb(139, 138, 138);
color: #fff;
border-radius: 5px;
text-align: center;
font-size: 1.2rem;
filter: hue-rotate(0%) brightness(100%) blur(10px);
}


.produto--item h2{
font-family:var(--fontTerceiry);
font-size: 1.8em;
text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.produto--img{
display: flex;
align-items: center;
justify-content: center;
object-fit: cover;
width: 15em;
height: 12em;
}

.produto--item img{
width: 100%;
height: 100%;
}

.produto--item p{
font-size: 1.4rem;
margin: 10px 0;
font-family: var(--fontTerceiry);
}

.produto--item button {
font-size: 1.4rem;
margin-top: 1rem ;
cursor: pointer;
padding: 10px 10px;
background-color:#fff;
border-radius: 10px;
box-shadow: 3px 4px 3px rgba(0, 0, 0,0.5);
border: 1px solid #000;

}
 .produto--item button:active{
margin-top: 1.2rem;
box-shadow: none;
}

@media screen and (max-width:992px) {
    .produtos--items{
        position: absolute;
        top:0;
        left:0;
        display:inline-grid;
        grid-template-columns:repeat(6,140px);
        padding: 0 5px;
        grid-gap: 5px;
        }

    .conteudo--produtos{
        margin-top: 75px;
        width: 100%;
       height: 55vh;
        padding: 0 20px;
        overflow-x: scroll;
    }

    .produto--item{
        width:18em;
        height: 22em;
        padding: 40px 35px;
        list-style: none;
        border: #000 solid 1px;
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        text-align: center;
        font-size: 1.2rem;
        }


    .produto--item h2{
        font-family:var(--fontTerceiry);
        font-size: 1em;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
        }

    .produtos--container h1{
        font-size: 1.3em;
        text-align: center;
        font-weight: bolder;
        margin: 1em 0 0 0;
        color: #fff;
        text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.3);
    }

    .produto--item{
        padding: 40px 45px;
        margin: 0 15px;
        list-style: none;
        border: #000 solid 1px;
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.3);
        background-color:rgb(163, 160, 160);
        border-radius: 8px;
        text-align: center;
        font-size: 1rem;
        }

    .produto--img{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width:10em;
        height:10em;
        }
    
        .produto--item button {
            font-size: 1.2rem;
            margin-top: 1rem ;
            cursor: pointer;
            padding: 10px;
            background-color:#fff;
            border-radius: 10px;
            box-shadow: 3px 4px 3px rgba(0, 0, 0,0.5);
            border: 1px solid #000;
        }

        .produto--item button:active{
            margin-top: 1.2rem;
            box-shadow: none;
            }
    }
    
    @media screen and (max-width:480px) {

        .conteudo--produtos{
            margin: 30px 0 0 0;
            width: 100vw;
            height: 65vh;
            overflow-x: scroll;
        }


        .produtos--items{
            position: absolute;
            top:0;
            left:0;
            display:inline-grid;
            grid-template-columns:repeat(6,250px);
            grid-gap: 10px;
            }


    .produto--item h2{
        font-family:var(--fontTerceiry);
        font-size: 1.5em;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
        }   
        .produto--item{
            padding: 42px 32px;
            width: 18em;
            list-style: none;
            border: #000 solid 1px;
            box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            text-align: center;
            font-size: 1rem;
            }
    
        .produto--img{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
            width:7em;
            height:6em;
            }


            .produto--item button {
                font-size: 1.2rem;
                margin-top: 1rem ;
                cursor: pointer;
                padding: 10px;
                background-color:#fff;
                border-radius: 10px;
                box-shadow: 3px 4px 3px rgba(0, 0, 0,0.5);
                border: 1px solid #000;
            }
    
            .produto--item button:active{
                margin-top: 1.2rem;
                box-shadow: none;
                }
            

        }@media screen and (min-width:480px) and (max-width:992px) {
            
        .produtos--container h1{
            font-size: 1.4em;
            text-align: center;
            font-weight: bolder;
            margin: 2.5em 0 0 0;
            color: #fff;
            text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.3);
        }
            .conteudo--produtos{
                margin: 20px 0 0 0;
                width: 100%;
                height: 55vh;
                overflow-x: scroll;
            }
            .produto--item{
                width:15em;
                height: 18em;
                padding: 40px 35px;
                list-style: none;
                border: #000 solid 1px;
                box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.3);
                background-color:rgb(163, 160, 160);
                border-radius: 8px;
                text-align: center;
                font-size: 1.2rem;
                }

    
            .produtos--items{
                position: absolute;
                top:0;
                left:0;
                display:inline-grid;
                grid-template-columns:repeat(6,270px);
                grid-gap: 10px;
            }
            .produto--item h2{
                font-family:var(--fontTerceiry);
                font-size: 1.5em;
                text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
            }   
            
            .produto--img{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                object-fit: cover;
                width:5em;
                height:5em;
                }

            }@media screen and (max-height:540px){
                .conteudo--produtos{
                margin: 20px 0 0 0;
                width: 100%;
                height: 90vh;
                overflow-x: scroll;
                }
              
            }





.container-service {
position: relative;
width: 100%;
height: 100vh;
display: flex;
}

.services h2{
position: absolute;
font-size: 1.8em;
font-weight: bolder;
top: 50px;
right: 12em;
color: #fff;
}

.services .base-services{
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 50%;
background-color: rgb(252, 14, 2 );
}

.services .servicosPrestados{
position: relative;
width: 100%;
padding: 10px; 
margin: 3em 0 0 5em ;
}

.services .servicosPrestados p{
font-size: 1.5rem;
color: white;

}

.botao-loq{
font-size: 1.6rem;
padding: 10px;
margin: 10px;
background-color:#fff;
border-radius: 10px;
box-shadow: 3px 4px 3px rgba(0, 0, 0,0.5);
border: 2px solid #fff;
}
.services .base-services:before{
position: absolute;
content:'';
top: 0;
left: 47%;
width: 90px;
height: 615px;
border-radius:45%;
background-color:rgb(252, 14, 2 );

}
.services .service-img{
width: 50%;
height: 100%;
object-fit: cover;
}

.services .img-service{
position: relative;
width: 100%;
height: 100%;
    }@media screen and (max-width:540px){
        .services h2{
            position: absolute;
            font-size: 21px;
            font-weight: bolder;
            top: 10px;
            left:6em;
            z-index: 1;
            color: #fff;
            }
    }@media screen and (max-width:992px){
            .container-service {
            width: 100%;
            height: 100%;
            display: block;
            }

            .services .base-services{
            position: relative;
            display: block;
            width: 100%;
            padding: 15px 10px;

            }

            .services h2{
            position: absolute;
            font-size: 21px;
            font-weight: bolder;
            top: 10px;
            left:em;
            z-index: 1;
            color: #fff;
            }

            .services .service-img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
            
            .services .servicosPrestados{
            width: 100%;
            padding: 15px; 
            margin:20px 0;
            }

            .services .servicosPrestados p{
            font-size: 1.2em;
            color: white;
            font-weight: bold;
            }

            .services .base-services:before{
            display: none;
            } 

            .services .service-img{
            display: block;
            width: 100%;
            object-fit: cover;
            }

            .services .base-services:before{
            display: none;
            }

        }@media screen and (min-width:480px) and (max-width:992px) {
            .services h2{
            position: absolute;
            font-size: 21px;
            font-weight: bolder;
            top: 10px;
            left:45%;
            z-index: 1;
            color: #fff;
            }
            .services .servicosPrestados{
            text-align: center;
            }
                }@media screen and (max-height:354px){
                    .services h2{
                    position: absolute;
                    font-size: 21px;
                    font-weight: bolder;
                    top: 10px;
                    left:10em;
                    z-index: 1;
                    color: #fff;
                    }
                
                    .services .servicosPrestados{
                    text-align: center;
                    }
                }

.mapa--conteudo{
position: relative;
display: inline-flex;
width: 100%;
}

.mapa--item{
width:400px; 
height:350px;
margin: 7em 0 0 9em;
}
.titulo--mapa1{
top: 0; 
left: 2.5em;
position: absolute;
margin: 50px 5em 10px 4em;
font-size: 1.6em;
font-weight: bolder;
}
.titulo--mapa2{
top: 0; 
left: 4em;
position: absolute;
font-size: 2.2em;
margin: 45px;
font-weight: bolder;
}
.localizacao-itens{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 100%;
margin-top: 7em;
}
.localizacao-itens p{
font-size: 1.9rem;
font-weight: bolder;
margin: 15px;
}
.botao-loq{
align-items: center;
margin-top:25px ;
border: 1px solid #000;
}

.botao-loq:active{
box-shadow: none;
margin-top: 30px;
} 
@media screen and (max-width:500px){

.titulo--mapa1{
position: absolute;
top: 0;
left: 2%;
font-size: 1.2em;
margin: 20px 0;
font-weight: bolder;
}

.titulo--mapa2{
position: absolute;
top: 0; 
left: 10%;
font-size: 1em;
margin: 20px 0;
font-weight: bolder;
}

.mapa--item{
width: 20em;
height: 20em;
margin: 40px 0 0 1%;
display: block;
}


.localizacao-itens{
position: relative;
width: 100%;
padding-top: 8em;
height: inherit;
}
    }@media screen and (max-width:992px){
        .mapa--conteudo{
        position: relative;
        display: block;
        width: 100%;
        }
        .titulo--mapa1{
        position: absolute;
        top: 0;
        font-size: 1.4em;
        margin: 20px;
        font-weight: bolder;
        }


        .localizacao-itens{
        position: relative;
        width: 100%;
        padding-top: 5em;
        height: inherit;
        }


        .titulo--mapa2{
        position: absolute;
        top: 0; 
        font-size: 1.5em;
        font-weight: bolder;
        }

        .localizacao-itens p{
        width: 100%;
        font-size: 1.3rem;
        font-weight: bolder;
        
        }
        .botao-loq{
        margin-top: 25px;
        border: 1px solid #000;
        }
        
        .botao-loq:active{
        box-shadow: none;
        margin-top: 28px;
        }               
            }@media screen and (min-width:480px) and (max-width:992px) {
            .mapa--conteudo{
            position: relative;
            display: block;
            width: 100%;
            }
            .titulo--mapa1{
            top: 0;
            left: 30%;
            font-size: 1.4em;
            margin-top: 20px;
            font-weight: bolder;
            }

            .titulo--mapa2{
            top: 0; 
            left: 20%;
            font-size: 1.5em;
            font-weight: bolder;
            }

            .mapa--item{
            width: 25em;
            height: 20em;
            margin: 20px 0 0 12em;
            display: block;
            }

            .localizacao-itens{
            position: relative;
            width: 100%;
            padding-top: 5em;
            height: inherit;
            }

            .localizacao-itens p{
            width: 100%;
            font-size: 1.3rem;
            font-weight: bolder;
            
            }
            .botao-loq{
            margin-top: 25px;
            border: 1px solid #000;
            }

            .botao-loq:active{
            box-shadow: none;
            margin-top: 28px;
            }            
            }@media screen and (max-height:354px){
                .mapa--conteudo{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                }

                .titulo--mapa1{
                position: absolute;
                top: 0;
                left: 4em;
                font-size: 1.4em;
                margin: 20px;
                font-weight: bolder;
                }

                .titulo--mapa2{
                position: absolute;
                top: 0; 
                left: 6em;
                font-size: 1.5em;
                margin: 25px 15px;
                font-weight: bolder;
                }

                .mapa--item{
                width: 300px;
                height: 250px;
                margin: 20px 0 0 7em;
                display: block;
                }
            }
.contatos_container{
position: relative;
width: 47%;
height: 100vh;
display: flex;
color: #fff;
background-color: rgb(252, 14, 2 ) ;
}
.contatos_container h1{
position: absolute;
display: flex;
top: 2em;
left: 2em;
z-index: 99;
font-weight: bolder;
font-size: 2em;
color: #fff; 
}

.contatos_container:before{
content: '';
position: absolute;
border-radius: 0 0 30em 0  ;
width: 125px;
height: 27em;
background-color: rgb(252, 14, 2 ) ;
right: -55px;
z-index: 99;
top:0;
}
.contatos_container:after{
content: '';
position: absolute;
border-radius:0 30em 0  0 ;
width: 125px;
height: 26em;
background-color: rgb(252, 14, 2 ) ;
box-shadow: 0 0px 3px rgb(252, 14, 2 ) ;
right: -55px;
bottom: 0;
z-index: 99;
}

.conteudo-contatos{
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100%;
}

.itemDecontato{
display: flex;
align-items: flex-start;
margin: 0 50px;
}

.itemDecontato > p {
font-size: 1.8em;
text-shadow:2px 3px #000;
margin:30px;
font-weight: bolder;
bottom: 0;
color: #fff;
}

.itemDecontato > i{
font-size: 4em;
z-index: 0;
text-shadow:2px 3px #000;
margin:10px;
bottom: 0;
color: #fff;
}

.contatosImg{
width: 55%;
}

.img-cont{
width: 100%;
height: 100%;
object-fit: cover;
}
@media screen and (max-width:480px) {
        .contatos_container h1{
        font-size: 1.4em;
        left: 15%;
        }
    }
    @media screen and (max-width:700px) {
        .contatos_container{
        position: relative;
        width: 100%;
        height: 90vh;
        padding: 0;
        display: block;
        color: #fff;
        background-color: rgb(252, 14, 2 ) ;
        }
    
        .contatos_container h1{
        font-size: 1.4em;
        top: 1rem;
        left: 8em;
        }
    
        .conteudo-contatos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        padding: 0 5px;
        }
    
        .itemDecontato{
        display: inline-flex;
        align-items:baseline;
        margin: 0 ;
        }
    
        .itemDecontato > p {
        font-size: 1.3em;
        text-shadow:2px 2px #000;
        margin:10px 0;
        font-weight: bolder;
        bottom: 0;
        color: #fff;
        }
    
        .itemDecontato > i{
        font-size: 1.5em;
        text-shadow:2px 3px #000;
        margin:10px 10px 0 10px;
        bottom: 0;
        color: #fff;;
        }
         }@media screen and (max-width:992px){
            .contatos_container{
            position: relative;
            width: 100%;
            height: 100%;
            padding: 10px 5px;
            display: block;
            color: #fff;
            background-color: rgb(252, 14, 2 ) ;

            }
            .contatos_container h1{
            font-size: 1.4em;
            left: 10%;
            }

            .contatos_container:before{
            display: none;
            }

            .contatos_container:after{
            display: none;
            }

            .conteudo-contatos{
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            width: 100%;
            height: 28em;
            }


            .itemDecontato{
            display: inline-flex;
            align-items: center;
            margin: 0 5px;
            }

            .itemDecontato > p {
            font-size: 1.4em;
            text-shadow:2px 2px #000;
            margin:30px 0;
            font-weight: bolder;
            bottom: 0;
            color: #fff;
            }

            .itemDecontato > i{
            font-size: 2em;
            text-shadow:2px 3px #000;
            margin:10px 10px 0 10px;
            bottom: 0;
            color: #fff;;
            }
            
            .contatosImg{
            width: 100%;
            height: 80vh;
            } 
            
            .img-cont{
            width: 100%;
            object-fit: cover;
            }

            }@media screen and (max-height:354px){
                .contatos_container{
                position: relative;
                width: 100%;
                height: 100%;
                padding: 5px 5px;
                display: block;
                color: #fff;
                background-color: rgb(252, 14, 2 ) ;
                }
                .contatos_container h1{
                font-size: 1.4em;
                top: 1rem;
                left: 1em;
                }

                .conteudo-contatos{
                display: flex;
                flex-direction: column;
                align-items:flex-start;          
                width: 100%;
                height: 90vh;
                padding: 0 5px;
                }

                .itemDecontato{
                display: inline-flex;
                align-items:baseline;
                margin: 0 5px;
                    
                }

                .itemDecontato > p {
                font-size: 1.3em;
                text-shadow:2px 2px #000;
                margin:10px 0;
                font-weight: bolder;
                bottom: 0;
                color: #fff;
                }
        
                .itemDecontato > i{
                font-size: 1.5em;
                text-shadow:2px 3px #000;
                margin:10px 10px 0 10px;
                bottom: 0;
                color: #fff;;
                }
            }

.logo--loja--rod{
width: 100%;
};