

.sidebar{
    position: fixed;

    width: 200px;
    height: 100%;
    padding: 5px;
  

    top:0;
    left: 0;

    z-index: 99;

    background-color:rgb(237, 238, 241);
    box-shadow: 3px 1px 3px black;

    transition: all 0.5s ease;
    
}

.layout__principal{
    position: relative;
    margin: 0 8em;
    padding: 0;
}

.layout__mapa{
padding:20px;
left: 10%;
}
.layout__rodape{
padding: 45px 0;
text-align: center;
background:#1C1C1C;
color: #fff;
position: absolute;
width: 100%;
}

.ação-menu{
    width: 105px;
    transition: all 0.5s ease;
    }
